* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
  }
  
  :root {
    --background-orange: #FF8000;
    --light-orange: #FFE0C1;
  }
  
  html {
    font-size: 93.75%; /* 1rem = 15px */
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-orange); 
    height: 100vh;
    width: 100vw;
  }
  
  main {
    display: flex;
    color: #FFF;
  }
  
  a, li, ul {
    list-style: none;
    text-decoration: none; 
  }

.degrade{
    background: linear-gradient(180deg, #FF8A00 80%, #fff 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    align-items: center;
}

.perfil-background{
    background-color: white;
    height: 90vh;
    width: 85%;
    border-radius: 2rem;
}


 /* Perfil */
.box-perfil{
    display: flex;
    flex-direction: row;
    color: #000000;
    
}

.box-foto-local-idiomas{
    width: 40rem;
    height: 40rem;

    
}

#foto-perfil{
    height: 18rem;
    width: 18rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    left: 18.75%;
    right: 62.15%;
    top: 8.4%;
    bottom: 67.97%;
    
    background: #FFFFFF;
    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#foto-perfil img{
    width: 17.7rem;
    border-radius: 1.35rem;
}


#local{
    width: 20rem;
    height: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;

    position: absolute;
    left: 18%;
    right: 62.15%;
    top: 39.5%;
    bottom: 67.97%;

    background-color: #FFE0C1;
    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#local p {
    display: flex;
    align-items: center;
    gap: .3rem;
}

#local p img{
    width: 1.5rem;    
    justify-content: center;
}
#local p span{
    text-align: center;
    font-size: 18px;
}

#idiomas{
    width: 20rem;
    height: 13.86666rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 18%;
    right: 62.15%;
    top: 44.5%;
    bottom: 67.97%;
    

}

#first-idioma{
    width: 19rem;
    height: 3.34rem;
    background-color: #FFE0C1;

    position: absolute;
    left: 2.5%;
    top: 4.5%;

    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#first-idioma p{
    font-size: 20px;
    text-align: center;
    padding-top: 0.4rem;
}

#second-idioma{
    width: 19rem;
    height: 3.34rem;
    background-color: #FFE0C1;
    
    position: absolute;
    left: 2.5%;
    top: 37%;

    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#second-idioma p{
    font-size: 20px;
    text-align: center;
    padding-top: 0.4rem;
}

#third-idioma{
    width: 19rem;
    height: 3.34rem;
    background-color: #FFE0C1;

    position: absolute;
    left: 2.5%;
    top: 70%;

    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#third-idioma p{
    font-size: 20px;
    text-align: center;
    padding-top: 0.4rem;
}


/* Sobre */
.box-nome-idade-sobre{
    width: 60%;
    height: 40rem;
    color: #000000;
}

#nome{
    width: 42.7rem;
    height: 5.34rem;
    background-color: #FFE0C1;

    position: absolute;
    left: 51%;
    top: 10%;
    
    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#nome h1{
    padding: 1rem;
}

#nome h1 span{
    font-weight: 100;
}

#idade{
    width: 42.7rem;
    height: 5.34rem;
    background-color: #FFE0C1;

    position: absolute;
    left: 51%;
    top: 21.5%;
    
    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}
#idade h1{
    padding: 1rem;
}

#idade h1 span{
    font-weight: 100;
}

#sobre{
    width: 42.7rem;
    height: 20.34rem;
    background-color: #FFE0C1;

    position: absolute;
    left: 51%;
    top: 33.5%;
    

    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#sobre h1{
    padding: 1rem;
}

#sobre p{
    padding: 0rem 1rem;
}

/* interesse */
.box-interesses{
    height: 18rem;
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

#interesses{
    width: 80%;
    height: 70%;
    background-color: #FFE0C1;
    color: #000000;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    border: 0.135rem solid #000000;
    box-shadow: 0rem 0.267rem 0.267rem rgba(0, 0, 0, 0.25);
    border-radius: 1.35rem;
}

#interesses h1{ 
    padding: 1rem;
}

#interesses p{
    padding: 0rem 1rem;
}